{% extends "layout.html" %}
{% block title %}Liste{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}
{% block content %}
<button id="ajoute" type="button" onclick="window.location.href = '{{ url_for('ajoute') }}' ; " class="button">Nouveau TODO</button>
<h1>La liste de TODO</h1>
<table>
  <tr>
    <th>Titre</th>
    <th>Description</th>
    <th>tags</th>
  </tr>
  {% for todo in liste %}
  <tr>
    <td>{{ todo["titre"] }}</td>
    <td>{{ todo["description"] }}</td>
    <td>{{ todo["tags"] }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}