{% extends "layout.html" %}
{% block title %}Liste{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}
{% block content %}
<button id="ajoute" type="button" onclick="window.location.href = '{{ url_for('ajoute') }}' ; " class="button">Nouveau TODO</button>
<h1>La liste de TODO</h1>
<form method="POST" action="/submit">
  <div class="form-buttons">
    <button type="submit" name="action" value="efface">Efface</button>
    <button type="submit" name="action" value="modifie">Modifie</button>
  </div>
  <table>
    <tr>
      <th>Sélection</th>
      <th>Date creation</th>
      <th>Titre</th>
      <th>Description</th>
      <th>tags</th>
    </tr>
    {% for todo in liste %}
    <tr>
      <td><input type="radio" name="uuid_selectionnee" value="{{ todo['uuid'] }}" required></td>
      <td>{{ todo["date_creation"] }}</td>
      <td>{{ todo["titre"] }}</td>
      <td>{{ todo["description"] }}</td>
      <td>{{ todo["tags"] }}</td>
    </tr>
    {% endfor %}
  </table>
</form>

{% endblock %}