{% extends "layout.html" %}
{% block title %}Liste{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>La liste de TODO</h1>
<div>
  <button id="ajoute" type="button" class="header-button" onclick="window.location.href = '{{ url_for('ajoute') }}' ; "
    class="button">Nouveau</button>
</div>
<hr>
<div>
  <h2>Filtre</h2>
</div>
<div class="filtre">
  <form method="POST" action="/filtre" id="filtre">
    <div class="form-container">
      <div class="form-group">
        <label for="filtre-etat">États</label>
        <select id="filtre-etat" name="filtre-etat" multiple>
          <option value="OUVERT" {% if "OUVERT" in filtre.etats %} selected {% endif %}>Ouvert</option>
          <option value="EN_COURS" {% if "EN_COURS" in filtre.etats %} selected {% endif %}>En cours</option>
          <option value="FERMEE" {% if "FERMEE" in filtre.etats %} selected {% endif %}>Fermé</option>
        </select>
      </div>
      <div class="form-group">
        <label for="filtre-tags">Tags</label>
        <input type="text" id="filtre-tags" name="filtre-tags" value="{{ ', '.join(filtre.tags) }}">
      </div>
      <div class="form-group">
        <button type="submit" name="action" value="applique">Applique</button>
        <button type="submit" name="action" value="reset">Réinitialise</button>
      </div>
    </div>
  </form>
</div>
<hr>
<form method="POST" action="/submit">
  <div class="form-buttons">
    <button type="submit" name="action" value="modifie">Voir détails</button>
    <button type="submit" name="action" value="efface">Efface</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Sél.</th>
        <th>Date creation</th>
        <th>État</th>
        <th>Titre</th>
        <!-- <th>Description</th> -->
        <th>tags</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in liste %}
      <tr>
        <td class="min"><input type="radio" name="uuid_selectionnee" value="{{ todo['uuid'] }}" required></td>
        <td class="min">{{ todo["date_creation"] }}</td>
        {% if todo["etat"] == "OUVERT" %}
        <td class="min">Ouvert</td>
        {% elif todo["etat"] == "EN_COURS" %}
        <td class="min">En cours</td>
        {% elif todo["etat"] == "FERMEE" %}
        <td class="min" class="min">Fermé</td>
        {% endif %}
        <td>{{ todo["titre"] }}</td>
        <!-- <td>{{ todo["description"] }}</td> -->
        <td>{{ ", ".join(todo["tags"]) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}