{% extends "layout.html" %}
{% block title %}Liste{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}
{% block content %}
<h1>Modifie un todo</h1>
<form method="POST">
  <label for="titre">Titre:</label>
  <input type="text" id="titre" name="titre" value='{{ todo["titre"]}}'><br>
  <label for="description">Description:</label>
  <input type="text" id="description" name="description" value='{{ todo["description"]}}'><br>
  <label for="tags">Tags (séparés par des virgules):</label>
  <input type="text" id="tags" name="tags" value='{{ todo["tags"]}}'><br>
  <input type="submit" value="Modifie">
  <button id="ajoute" type="button" onclick="window.location.href = '{{ url_for('index') }}' ; " class="button">Cancel</button>
</form>

{% endblock %}