{% extends "layout.html" %}
{% block title %}Détails{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}
{% block content %}
<h1>Détails</h1>
<form method="POST">
  <label for="titre">Titre:</label>
  <input type="text" id="titre" name="titre" value='{{ todo["titre"]}}'><br>
  <label for="description">Description:</label>
  <input type="text" id="description" name="description" value='{{ todo["description"]}}'><br>
  <label for="tags">Tags (séparés par des virgules):</label>
  <input type="text" id="tags" name="tags" value='{{ ", ".join(todo["tags"]) }}'><br>
  <label for="État">État:</label>
  <select name="etat" id="etat" value='{{ todo["etat"]}}'>
    <option value="OUVERT" {% if todo["etat"] == "OUVERT" %} selected {% endif %}>Ouvert</option>
    <option value="EN_COURS" {% if todo["etat"] == "EN_COURS" %} selected {% endif %}>En cours</option>
    <option value="FERMEE" {% if todo["etat"] == "FERMEE" %} selected {% endif %}>Fermé</option>
  </select><br>
  <input type="submit" value="Sauvegarde">
  <button id="ajoute" type="button" onclick="window.location.href = '{{ url_for('index') }}' ; "
    class="button">Annule</button>
</form>

{% endblock %}