<!DOCTYPE html>
<html>

<head>
    <title>Exemple JSC</title>
    <!-- C'est la façon de référer au ficher CSS sous Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Premier test, par JSC</h1>
    <p>Ajout d'un étudiant</p>
    <form action="{{ url_for('ajoute') }}" method="POST" enctype="multipart/form-data">
        <!-- <form action="{{ url_for('ajoute') }}" method="GET"> -->
        <label>Nom</label>
        <input type="text" id="nom" name="nom" />
        <input type="submit" value="nom" />
    </form>
    <p>Voici la liste des étudiants:</p>
    <ul>
        {% for etudiant in liste_etudiants %}
        <li>{{etudiant}}</li>
        {% endfor %}
    </ul>
</body>

</html>